<p> </p>
<section class="py-5 bg-light" id="conocenos">
    <div class="container text-center">
      <h2 class="mb-4">Conócenos</h2>
      <p class="lead mb-5">Celebramos el arte del barro negro, verde, rojo y el alma de nuestros alfareros oaxaqueños.</p>
      
      <div class="row align-items-center">
        <div class="col-md-6 mb-4">
          <img src="images/alfarero.jpg" class="img-fluid rounded shadow" alt="Alfarero trabajando el barro oaxaqueño">
        </div>
        <div class="col-md-6 text-start">
          <h4>¿Quiénes somos?</h4>
          <p>
            Somos una comunidad dedicada a preservar y difundir el arte milenario del barro oaxaqueño. Trabajamos junto a talentosos alfareros y alfareras de San Bartolo Coyotepec, Santa María Atzompa y San Marcos Tlapazola, para que el mundo conozca la historia y el corazón que hay detrás de cada pieza.
          </p>
          <p>
            Cada creación es más que una artesanía: es identidad, es herencia, es cultura viva.
          </p>
        </div>
      </div>
  
      <div class="row text-start mt-5">
        <div class="col-md-6">
          <h5>Misión</h5>
          <p>
            Impulsar el reconocimiento, preservación y comercialización justa del arte del barro oaxaqueño, promoviendo el trabajo digno y la identidad cultural de nuestros pueblos.
          </p>
        </div>
        <div class="col-md-6">
          <h5>Visión</h5>
          <p>
            Ser una plataforma que conecte a los alfareros oaxaqueños con el mundo, manteniendo viva la tradición y generando nuevas oportunidades a través del diseño y la tecnología.
          </p>
        </div>
      </div>
    </div>
  </section>
  
